/* Définition des polices personnalisées */

h1
{
font-size : 30px;
text-decoration: underline;
text-align: center;
}


h2
{
font-size : 20px;
text-decoration: underline;
text-align: center;
}

p
{
font-size: 16px;
}

#banniere
{
text-align:center;
}