#modal 
{
	text-align: center;
	margin: auto;
	margin-top: 5%;
	background-color: white;
	width: 60%;
	height: 350px;
}

<<<<<<< HEAD
#Paypall
{
	margin-top:  20px;
=======
#paypall
{
	margin-top: 5px;
>>>>>>> ccc177679a1a343a546338ca6a37a5c88cb73c32
}